.xmdoc {
}
.xm-document {
    margin: 0px 0 20px 0;
	overflow: hidden;
}
.xm-document-logo {
    max-height: 120px;
    min-height: 120px;
    text-align: center;
    overflow: hidden;
}

.xm-document-title {
    font-size: 1.3em;
    line-height: inherit;
    margin: 0 0 5px 0;
    display: block;
}

.xm-document-description {
    min-height: 45px;
    overflow: hidden;
    text-align: justify;
    margin: 5px 0 5px 0;
}
.xm-document-view {
    height: 30px;
    overflow: hidden;
    text-align: left;
    margin: 0px 0 5px 0;
}

.xm-document-view.row {
    font-weight: bold;
    color: #999;
    font-size: 1em;
}

.xm-document-view {
    padding-bottom: 5px;
}
.xm-document-view-top {
    padding-top: 25px;
}

.xm-category-list {
    margin-bottom: 10px;
}

.xm-category-list img {
    max-width: 100%;
}

a.xm-category-image {
    margin: 10px 0 10px 0;
    display: block;
    text-align: center;
    max-height: 120px;
    min-height: 120px;
}

.xm-document-general-button {
    text-align: center;
	padding-top: 15px;
}